body {
    font-family:'Times New Roman', Times, serif;
    background-color: #e0f7da;
    background-image: url(./images/FarmLinkBG1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align: center;
    background-color: #d3f1bf;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    background-image: url(./images/FarmLinkBG.png);
}

.logo img {
    width: 80px;
    height: auto;
}

h1 {
    font-size: 24px;
    color: #000;
}

h2 {
    font-size: 32px;
    color: #2d7f2d;
    margin-bottom: 20px;
}

.images img {
    width: 100px;
    height: auto;
    margin: 10px;
}

.form {
    margin-top: 20px;
}

.input-field {
    margin-bottom: 10px;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.forgot-password {
    display: block;
    margin-bottom: 15px;
    color: #2d7f2d;
    text-decoration: none;
}

.login-button {
    background-color: #2d7f2d;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}
.signup-button {
    background-color: #2d7f2d;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}


.sign-up {
    margin-top: 15px;
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    text-align: center;
    color: #2d7f2d;
    cursor: pointer;
}
